header {
  background-color: black;
  padding: 2px;
  text-align: center;
  font-size: 8px;
  color: white;
}
footer {
  background-color: black;
  padding: 2px;
  text-align: center;
  font-size: 8px;
  color: white;
}

form {
  text-align: center;
  right: 230px;
}
input { 
  text-align: center;
  border  : 1px  solid blue ;
  padding : 6px;
  margin  : 8px;  
  border  : 2px solid powderblue;
  width:100%;
}
textarea{

  border: 2px solid  powderblue; 
}
label {   
  text-align: center;

  padding : 10px ;
  
}
table {
  text-align: center;
  border-collapse: collapse;
  width: 16%;
}



button {
  background-color: rgb(32, 32, 32);
  color : wheat ;
}
 
        .sub {
            color: wheat ;
            position:relative; 
            text-transform: uppercase;
            background: blue;
            text-decoration: none;

            padding: 10px;
            border-radius: 50px;
            display: inline-block;
            right: 300px;
            font-size: 12px;
            text-align: center;
            border: none;
            transition: all 0.4s ease 0s;
            }
			

 
